header.site-header
  
  if pageContent.lang == 'fr-fr'
    a(href='/fr-fr')
      .logo i18n Exemple
  else if pageContent.lang == 'es-es'
    a(href='/es-es')
      .logo i18n Ejemplo
  else
    a(href='/')
      .logo i18n Example
  
  if navContent != null
    nav
      ul
        each link in navContent.getGroup('navigation.menuLinks').toArray()
          - var linkUrl = link.getLink("link").url(ctx.linkResolver)
          li
            a(href=linkUrl)
              != link.getText("label")
        li 
          select(name='formal', onchange='javascript:languageLink(this)')
            option(value="") Language
            each doc in pageContent.alternateLanguages
              if doc.lang == 'en-us'
                - langDisplay = 'English'
              else if doc.lang == 'fr-fr'
                - langDisplay = 'Français'
              else if doc.lang == 'es-es'
                - langDisplay = 'Español'
              option(value=ctx.linkResolver(doc)) !{langDisplay}